{% extends "layout.html" %}
{% block content%}
<div class="content-section">
    
	<div>
        <strong>Contact Page</strong>
		<p>If you have any request please contact us</p>
		<a><button class="Email" href="mailto:jtechlab2007@gmail.com">contact us</button></a>
	</div>
</div>

<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid red;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: green;
}
</style>
</head>
<body>


</body>
</html>

{% endblock content%}